In [1]:

import pandas as pd
import mysql.connector
import warnings

warnings.filterwarnings("ignore")

> We can't insert values in the table using the read_mysql_query

> we have to use the cursor function 

> To make any modifications such deleting , or creating etc should be done by the cursor method

> To hide the error regardless of the error message we can use the Exception method in the try and except statement

In [2]:


mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  password="",
  database = "test"
)

In [3]:
cursor = mydb.cursor()

In [4]:
#cursor.execute("INSERT INTO customer(Segment) VALUES('Corporate')") 
#to insert values into a table through the cursor method and the execute meth

In [33]:
pd.read_sql_query("SHOW TABLES", mydb)

Empty DataFrame
Columns: [Tables_in_test]
Index: []