In [2]:
import pandas as pd
import numpy as np

### CASE STUDY 1: Customer Purchases

> Concept: Basic Probability, Conditional Probability, Independence

> Scenario: You work for an e-commerce company. You have data on customers’ gender, whether they saw an ad, and whether they made a purchase.

> **Practice Questions:**

**1. Easy:** Find the probability a customer made a purchase.

**2. Intermediate:** Find $P(\text{Purchased} \mid \text{Saw Ad})$.

**3. Hard:** Check if ‘seeing the ad’ and ‘purchasing’ are independent events.

**4. Advanced:** What is the probability that a randomly selected customer is female and made a purchase, given that she saw the ad?  
*Express as* $P(\text{Female} \cap \text{Purchased} \mid \text{Saw Ad})$.

**5. Advanced:** Among customers who did **not** see the ad, what is the probability that they made a purchase?  
*Express as* $P(\text{Purchased} \mid \text{Did Not See Ad})$.

**6. Challenge:** What is the odds ratio of purchasing for customers who saw the ad versus those who did not see the ad?  
*Hint: Odds ratio = (P(Purchased|Saw Ad) / (1 - P(Purchased|Saw Ad))) $\div$ (P(Purchased|Did Not See Ad) / (1 - P(Purchased|Did Not See Ad)))*

**7. Challenge:** If two customers are selected at random (with replacement), what is the probability that both are male and both made a purchase?

**8. Expert:** Using a chi-squared test, determine if there is a statistically significant association between seeing the ad and making a purchase.

In [4]:
customer_purchase_data = pd.read_excel("C:/Users/leste/Downloads/Probability_Case_Studies.xlsx", sheet_name="Customer_Purchases")

In [5]:
customer_purchase_data

     Customer_ID  Gender Saw_Ad Purchased
0              1    Male    Yes       Yes
1              2  Female     No        No
2              3    Male    Yes        No
3              4    Male    Yes        No
4              5    Male     No        No
..           ...     ...    ...       ...
195          196  Female    Yes        No
196          197  Female     No        No
197          198  Female    Yes       Yes
198          199    Male     No        No
199          200    Male    Yes        No

[200 rows x 4 columns]

> Solution 1

In [9]:
customer_purchase_data['Purchased'].value_counts()

No     141
Yes     59
Name: Purchased, dtype: int64

In [23]:
Total_purchased = customer_purchase_data.query('Purchased == "Yes"')['Purchased'].count()
Total_purchased

59

In [24]:
Total_customer_count = customer_purchase_data['Customer_ID'].count()
Total_customer_count

200

In [27]:
Probability_of_purchase = Total_purchased / Total_customer_count
Probability_of_purchase

0.295

> Solution 2

0.32456140350877194