In [100]:
import pandas as pd 
%run ETF_code_structure.py

In [101]:
equity_ETF_tickers = ['AXISGOLD', 'BANKBEES', 'BSLGOLDETF', 'BSLNIFTY', 'CPSEETF.BO', 'CRMFGETF', 'GOLDBEES', 'GOLDSHARE', 'HDFCMFGETF', 'HNGSNGBEES', 'ICNX100', 'IDBIGOLD', 'IGOLD', 'IIFLNIFTY', 'INFRABEES', 'INIFTY', 'ISENSEX', 'JUNIORBEES', 'KOTAKBKETF', 'KOTAKNIFTY', 'KOTAKPSUBK', 'LICNMFET', 'LIQUIDBEES', 'M100', 'M50', 'MGOLD', 'N100', 'NIFTYBEES', 'NIFTYEES', 'PSUBNKBEES', 'QGOLDHALF', 'QNIFTY', 'RELBANK', 'RELCNX100', 'RELCONS', 'RELDIVOPP', 'RELGOLD', 'RELGRNIFTY', 'RELIGAREGO', 'RELNIFTY', 'RELNV20', 'SBIGETS', 'SETFBANK', 'SETFNIFJR', 'SHARIABEES', 'SPICE']


no_data = ['ICNX100', 'INIFTY', 'ISENSEX', 'M100', 'M50', 'RELBANK', 'RELCNX100', 'RELDIVOPP', 'RELGOLD', 'RELNIFTY', 'RELNV20', 'SPICE']

'CRMFGETF'

'CRMFGETF'

In [102]:
equity_ETF = [x for x in equity_ETF_tickers if x not in no_data]

In [103]:
len(equity_ETF)

34

In [104]:
ETF_extraction = ETF_analysis(no_data, start_date = 2012-1-1 , end_date  = 2022-31-1)

In [105]:

ETF_extraction.ETF_data_extraction()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2015-03-25,M100,EQ,13.26,13.44,13.44,13.21,13.26,13.26,13.30,96991,1.290124e+11,42,92682,0.9556
2015-03-26,M100,EQ,13.26,13.47,13.47,13.22,13.34,13.33,13.32,7173,9.554526e+09,26,4071,0.5675
2015-03-27,M100,EQ,13.33,13.15,13.48,13.06,13.28,13.18,13.13,101084,1.327423e+11,68,98874,0.9781
2015-03-30,M100,EQ,13.18,13.25,13.35,13.11,13.30,13.28,13.26,8685,1.151592e+10,28,5586,0.6432
2015-03-31,M100,EQ,13.28,13.56,13.56,13.35,13.49,13.48,13.44,30523,4.103435e+10,40,28642,0.9384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-11-07,RELBANK,EQ,1859.23,1869.90,1874.10,1832.00,1859.00,1845.21,1846.51,96,1.772651e+10,24,86,0.8958
2014-11-10,RELBANK,EQ,1845.21,1869.99,1870.00,1850.00,1850.00,1850.00,1865.76,26,4.850977e+09,13,23,0.8846
2014-11-11,RELBANK,EQ,1850.00,1867.25,1874.10,1836.75,1856.90,1856.90,1861.67,50,9.308370e+09,20,34,0.6800
2014-11-12,RELBANK,EQ,1856.90,1892.20,1892.20,1850.00,1850.00,1865.04,1861.27,188,3.499191e+10,21,171,0.9096
2014-11-13,RELBANK,EQ,1865.04,1866.00,1870.00,1830.00,1860.00,1860.00,1847.34,159,2.937271e+10,47,94,0.5912

In [111]:
ETF_extraction.to_excel_sheets("C:/Users/leste/OneDrive/Desktop/ETF_data.xlsx")

In [106]:
from datetime import date
from nsepy import get_history

start_date = date(2022, 1, 1)
end_date = date(2022, 2, 1)

nse_stock_data = get_history(symbol= "M100", start=start_date, end=end_date)

print(nse_stock_data.head())

            Symbol Series  Prev Close   Open   High    Low   Last  Close  \
Date
2022-01-03  MOM100     EQ       31.87  31.50  32.49  31.50  32.27  32.19
2022-01-04  MOM100     EQ       32.19  32.75  32.75  32.11  32.49  32.47
2022-01-05  MOM100     EQ       32.47  32.48  32.49  32.38  32.48  32.47
2022-01-06  MOM100     EQ       32.47  32.95  32.95  32.14  32.41  32.43
2022-01-07  MOM100     EQ       32.43  32.90  32.90  32.22  32.70  32.68

             VWAP  Volume      Turnover  Trades  Deliverable Volume  \
Date
2022-01-03  32.22  173271  5.582912e+11    1689              129308
2022-01-04  32.40  115112  3.729932e+11    1442               71175
2022-01-05  32.46   70340  2.283442e+11    1167               54842
2022-01-06  32.40   58235  1.886874e+11    1136               39723
2022-01-07  32.57  133844  4.359206e+11    1067              111350

            %Deliverble
Date
2022-01-03       0.7463
2022-01-04       0.6183
2022-01-05       0.7797
2022-01-06       0.6821
2022-01-07       0.8319